body {
  background-color: #7F828B;
  .title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: bold;
    font-size: 200px;
    color: blue;
    letter-spacing: 1px;
  }
}
